{% extends 'blog/workout_base.html' %}

{% block content %}
    {% for workout in workouts %}
        <div class="workout">
            <div class="date">
                {{ workout.published_date }}
            </div>

            <h1><a href="{% url 'workout_detail' pk=workout.pk %}">{{ workout.title }}</a></h1>
            <p>{{ workout.text|linebreaksbr }}</p>
            <p>{{ workout.num_miles|linebreaksbr }}</p>
            <p>{{ workout.time_taken|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock content %}